{% extends 'base.html' %}
{% load static %}
    {% block content %}
    
    
        <div class="about" id="about" style = "background-color: #cff1e9; height: 100vh">
            <div class="about_content">
                <h2>Welcome to ACK Wendani
                </h2>
                <p></p>
                
                <h3>The church was created in the early 2000s</h3>
                  <h3>  We have a total of about 500 members and we have an administrative group that is led by the vicar. </h3>
            </div>
        </div>
    
        


    {% endblock %}
    