{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles\styles.css' %}">
</head>
<body>
    {% block content %}
    
    
        <div class="about" id="about" style="background-image: url('{% static 'images\image1.png' %}')">
            <div class="about_content">
               
                <h1>Super User Home Page
                </h1>
                {% for message in messages %}
                <div style="color:red">
                <p >{{message}}</p>
                </div>
                {% endfor %}
                <h2>Department<a href="{% url 'dept_add' %}">here</a></h2>
                
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            </div>
        </div>
    
        


    {% endblock %}
    
</body>
</html>