{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles\styles.css' %}">
</head>
<body>
    {% block content %}
    <br/><br/><br/><br/>
  <center>  
    <h1>
        accounts
    </h1>
    
      
       <table border = 1>
         <tr>
           <th>Email</th>
           <th>First Name</th>
           <th>Last Name</th>
           <th>Membership Number</th>
         </tr>
         
            {% for Account in List %}
            <tr>
             <td>{{ Account.email }}</td>
             <td>{{ Account.first_name }}</td>
             <td>{{ Account.last_name }}</td>
             <td>{{ Account.membership_number }}</td>
             <td><a href = "{% url 'make_superuser' Account.id %}">Make Superuser</a></td>
             <td><a href = "{% url 'make_user' Account.id %}">Make User</a></td>
             <td><a href = "{% url 'make_admin' Account.id %}">Make Admin</a></td>
            </tr>
            
            {% endfor %}
         
       </table>
       <h2><a href="{% url 'superuser_home' %}">go back</a></h2>
       {% for message in messages %}
                <div style="color:red">
                {{message}}
                </div>
                {% endfor %}
    
        


    {% endblock %}
    </center> 
</body>
</html>
