{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles\styles.css' %}">
</head>
<body>
    {% block content %}
    
    
        <div class="about" id="about" style = "background-color: #cff1e9;">
            <div class="about_content">
               <form action = "" method = "POST">
                   {% csrf_token %}
                  
                <label for="name">Department Name:</label>
                <select name="department_name">
                {% for cluster in cluster %}
                    <option value="{{ cluster.name }}">{{ cluster.name }}</option>
                {% endfor %}
                {% for department in department %}
                    <option value="{{ department.name }}">{{ department.name }}</option>
                {% endfor %}
                {% for ministry in ministry %}
                    <option value="{{ ministry.name }}">{{ ministry.name }}</option>
                {% endfor %}
                </select>
        
                <label for="email">Message:</label>
                <textarea name ="message" cols = "30" rows = "10" required></textarea>

                <button type="submit">Send Message</button>
               </form>
               <a href="{% url 'send_smss' %}">go back<i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    
        


    {% endblock %}
    
</body>
</html>