{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
        {% block content %}
    
      <div class="info">
    
    <div class="col-md-12" id="col-md-12" style = "background-color: #cff1e9;">
      <br/><br/><br/><br/>
      <form method="post" class = "post-form" action=""  id = "submit" >
  
        {% csrf_token %}
        <h3> Register Dependent</h3>
        <div class="fieldWrapper">
          {% if form.errors %}
                  <div class="alert alert-danger">
                      <strong>Dependent not registered, check for errors below</strong>
                  </div>
            {% endif %}
        
       {% for field in form %}
    <div class="fieldWrapper">
          {% for error in field.errors %}
              <div class="alert alert-danger">
                  <strong>{{ field.errors }}</strong>
              </div>
        {% endfor %}
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}
<div class="fieldWrapper">
  {% if form.errors %}
          <div class="alert alert-danger">
              <strong>Dependent not registered, check for errors above</strong>
          </div>
    {% endif %}

        <button type="submit">Register Dependent</button>
       </form>
      
       
        </div>
      </div>
      {% endblock %}
    </body>
</html>
