{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dEPENDENTS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles\styles.css' %}">
</head>
<body>
    {% block content %}
    <div class="about" id="about" style = "background: #d8dbdb;">
      <div class="col-md-12"></div><br/>
  <center>  
    <h5>ACK ST. MARTIN'S ACCOUNTS</h5>
          <hr>
          <div class="card card-body">
            
            <table class="table table-sm">
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Membership Number</th>
                <th>Relationship</th>

              </tr>
      
              {% for Dependent in List %}
                <tr> 
                  <td>{{Dependent.first_name}}</td>
                  <td>{{Dependent.last_name}}</td>
                  <td>{{Dependent.dep_em}}</td>
                  <td>{{Dependent.membership_number}}</td>
                  <td>{{Dependent.relationship}}</td>
      
                </tr>
              {% endfor %}
      
          
            </table>
       <a class="m-auto" href="{% url 'userhome' %}">Go Back<i class="fa-solid fa-arrow-right"></i></a></br>  
                </center>
                <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                </div>
    {% endblock %}
   
  
</body>
</html>



