{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles\styles.css' %}">
</head>
<body>
    {% block content %}
    
    
        <div class="about" id="about" style="background-image: url('{% static 'images\image1.png' %}');">
            <div class="about_content">
                <form method="post" class = "post-form" action="" >

                    {% csrf_token %}
                    <label for="name">Subject:</label>
                    <input type="text" name="subject">
            
                    <label for="email">Message:</label>
                    <textarea name ="message" cols = "30" rows = "10"></textarea>
                  
                 
                    <button type="submit">Message</button>
                                <a class="m-auto" href="{% url 'password_reset' %}">Forgot password?</a></br>
                    
                   </form>
            </div>
        </div>
    
        


    {% endblock %}
    
</body>
</html>